{% extends "base_main.html" %}
{% load static %}

{% block title %}About | PlanetTerp{% endblock %}

{% block content %}
<div class="info-page">
	<h2>About</h2>
	<p>PlanetTerp is a website designed to help students at the University of Maryland &mdash; College Park (UMD) make informed decisions. We provide a professor review system, grade data for courses and professors, and <a href="{% url 'tools' %}">various tools</a> which aggregate data about UMD and its courses. We hope that you find these features useful!</p>

	<h3>Goal</h3>
	<p>Our goal is to provide information that will help all students at UMD make informed decisions.</p>

	<h3>Review Writing Tips</h3>
	<p>If you're not sure what to write, here are some suggestions to get you started:</p>
	<ul>
		<li>Did you think the exams or other major assignments were fair?</li>
		<li>Did you think the professor had reasonable expectations of the students in the course overall?</li>
		<li>Were you a fan of the professor's teaching style?</li>
		<li>Was the workload appropriate for the number of credits?</li>
		<li>Was this course a waste of time or was it beneficial in some way?</li>
		<li>How much support were you given throughout the semester (office hours, extra resources, etc.)?</li>
	</ul>

	<p>You're welcome to write your review in anyway you see fit, but here are a few tips to maximize your review's readablility and usefulness:</p>
	<ul>
		<li>Clearly structure your thoughts through a pros and cons list, spaced-out paragraphs, or another format of your choosing. The community will thank you.</li>
		<li>Try to avoid excessive use of caps lock. We promise you, whatever you want to write can be written without caps lock!</li>
	</ul>

	<p>While anyone is free to submit a review, anonymously or otherwise, all reviews are manually verified by us before being displayed on the site. Below are some common reasons reviews get rejected:</p>
	<ul>
		<li>Reviews like "really bad", "horrible", or "awesome professor" aren't helpful. Elaborate on why you feel this way about the professor! Remember: users who read your review haven't taken this professor and are relying on YOU to help them make an informed decision.</li>
		<li>Excessive hostility towards a professor. Negativity or criticism is fine, but insults or accusations are unlikely to lead to an accepted review.</li>
		<li>Excessive/unnecessary profanity or any discriminatory language. We won't reject your review for a few swear words, but do try to keep it to a minimum.</li>
	</ul>

	<h3>Review Accuracy</h3>
	<p>A common concern with professor review websites is that the reviews aren't necessarily accurate to real life, because a student with a negative experience is more likely to leave a review than a student with a positive experience. This may certainly be true, and you should take this into account when considering reviews.</p>

	<p>Additionally, be especially wary of trusting the rating of a professor with a low number of reviews.</p>

	<h3>Source Code</h3>

	<p>PlanetTerp is completely open source! Check out <a href="https://github.com/planetterp/planetterp">our GitHub</a>. Contributions and/or feature requests are welcome.</p>

	<h3 id="credits">Credits</h3>
	<p>Professor and course information comes from a combination of the <a href="https://app.testudo.umd.edu/soc/">Schedule of Classes</a> and <a href="http://umd.io" target="_blank">umd.io</a>. Grade data is obtained from the <a href="https://www.irpa.umd.edu" target="_blank">IRPA</a> via a <a href="https://www.umd.edu/administration/public-information-request" target="_blank">PIA request</a>. Initial reviews were imported from OurUMD, and initial grade data was from <a href="https://vagrades.com" target="_blank">VA Grades</a>.</p>

	<h3>Contact us</h3>
	<p>We can be emailed at <a href="mailto:admin@planetterp.com">admin@planetterp.com</a>.</p>

	<h3 id="organizations">Other Organizations at UMD</h3>

	<p>Check out these other student-run organizations at UMD:</p>

	<ul>
		{% for organization in organizations %}
		<li><a href="{{ organization.url }}" target="_blank">{{ organization.name }}</a></li>
		{% endfor %}
	</ul>

	<p>If you want your organization on our homepage, please contact us at the email above!</p>

	<h1 class="text-center">PlanetTerp Team</h1>
	<div class="member-info">
		<div class="member-pic">
			<p class="member-name"><strong>Liam DeVoe</strong></p>
			<img src='/static/images/team/liam.png'>
		</div>
		<div class="member-pic">
			<p class="member-name"><strong>Jonathan Saewitz</strong></p>
			<img src='/static/images/team/jonathan.png'>
		</div>

		<div class="member-pic">
			<p class="member-name"><strong>Noah Sandler</strong></p>
			<img src='/static/images/team/noah.png'>
		</div>
		<!--
		<div class="member-pic">
			<p class="member-name"><strong>Nihar Majmudar</strong></p>
			<img src='/static/images/team/nihar.png'>
		</div>
		<div class="member-pic">
			<p class="member-name"><strong>Ethan Schaffer</strong></p>
			<img src='/static/images/team/ethan.png'>
		</div>
		-->
	</div>
</div>
{% endblock %}
