{% extends "base_main.html" %}
{% load static %}

{% block title %}About | PlanetTerp{% endblock %}

{% block content %}
<div class="info-page">
	<h2>About</h2>
	<p>PlanetTerp is a website designed to help students at the University of Maryland &mdash; College Park (UMD) make informed decisions. We provide a professor review system, grade data for courses and professors, and <a href="{% url 'tools' %}">various tools</a> which aggregate data about UMD and the courses theiren. We hope that you find these features useful!</p>

	<h3>Review Criteria</h3>
	<p>While anyone is free to submit a review, anonymously or otherwise, all reviews are manually verified by us before being displayed on the site. Below are some common reasons reviews get rejected:</p>

	<ul>
		<li>Vague negative comments with no elaboration. A review only saying "this professor sucks" would be rejected, for instance.</li>
		<li>Excessive hostility towards a professor. Negativity is fine, insults are not!</li>
		<li>Excessive use of caps lock. Don't make your review a nuisance for others to read, please!</li>
	</ul>

	<h3>Review Accuracy</h3>
	<p>A common concern with professor review websites is that the reviews aren't necessarily accurate to real life, because students with a negative experience are more likely to leave a review than a student with a positive experience. This may certainly be true, and you should take this into account when considering reviews.</p>

	<p>Additionally, be wary of trusting the rating of a professor with a low number of reviews. These ratings are much more likely to be influenced by random chance, and you should be careful not to form an opinion of a professor based just on one or two reviews.</p>

	<h3 id="credits">Credits</h3>
	<p>Professor and course information comes from a combination of <a href="https://app.testudo.umd.edu/soc/">schedule of classes</a> and <a href="http://umd.io" target="_blank">umdio</a>. Grade data is obtained from the <a href="https://www.irpa.umd.edu" target="_blank">IRPA</a> via a <a href="https://www.umd.edu/administration/public-information-request" target="_blank">PIA request</a>. Initial reviews were imported from OurUMD, and initial grade data was from <a href="https://vagrades.com" target="_blank">VA Grades</a>.</p>

	<h3>Contact us</h3>
	<p>We can be emailed at <a href="mailto:admin@planetterp.com">admin@planetterp.com</a>.</p>

	<h3 id="organizations">Other Organizations at UMD</h3>

	<p>Check out these other student-run organizations at UMD:</p>

	<ul>
		{% for organization in organizations %}
		<li><a href="{{ organization.url }}" target="_blank">{{ organization.name }}</a></li>
		{% endfor %}
	</ul>

	<p>If you want your organization on our homepage and listed below, please contact us at the email above!</p>

	<h1 class="text-center">PlanetTerp Team</h1>
	<div class="member-info">
		<div class="member-pic">
			<p class="member-name"><strong>Liam DeVoe</strong></p>
			<img src='/static/images/team/liam.png'>
		</div>

		<div class="member-pic">
			<p class="member-name"><strong>Nihar Majmudar</strong></p>
			<img src='/static/images/team/nihar.png'>
		</div>
		<div class="member-pic">
			<p class="member-name"><strong>Jonathan Saewitz</strong></p>
			<img src='/static/images/team/jonathan.png'>
		</div>

		<div class="member-pic">
			<p class="member-name"><strong>Noah Sandler</strong></p>
			<img src='/static/images/team/noah.png'>
		</div>

		<div class="member-pic">
			<p class="member-name"><strong>Ethan Schaffer</strong></p>
			<img src='/static/images/team/ethan.png'>
		</div>
	</div>
</div>
{% endblock %}
