{% extends "base_main.html" %}
{% load utils %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Admin | PlanetTerp{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<div id="admin-tool-response" class="fixed-top hidden"></div>
<br />

<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#reviews-noscroll" id="reviews-tab" role="tab">Unverified Reviews <span id="review-counter" class="badge badge-primary"></span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#professors-noscroll" id="professors-tab" role="tab">Unverified Professors <span id="professor-counter" class="badge badge-primary">{{ professors|length}}</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#maintenance-noscroll" id="professors-tab" role="tab">Maintenance</a>
	</li>
</ul>

<div class="tab-content container mt-4">
	<div class="tab-pane fade show active" id="reviews-noscroll" role="tabpanel">
		{% crispy review_action_form %}
		{% render_table reviews_table %}
	</div>
	<div class="tab-pane fade" id="professors-noscroll" role="tabpanel">
		{% render_table professors_table %}
		<div id="slug-modal-container"></div>
	</div>
	<div class="tab-pane fade" id="maintenance-noscroll" role="tabpanel">
		<button class="btn btn-primary" onclick="recomputeTTLCache()">
			Recompute TTL Caches
		</button>
	</div>
</div>

<script type="text/javascript">
	var prof_count = Number({{ professors|length }});
	var num_reviews = Number({{ reviews|length }});

	$(function() {
		var hash = window.location.hash;
		// when we change `window.location.hash`, if there is an element with id equal to that hash,
		// the browser will scroll to it automatically. We don't want this so we need to have our
		// tabs have a different id than the hash. We accomplish this by appending "Tab" to the hash
		// to get the corresponding tab element.

		if (hash)
			$('.nav-tabs a[href="' + hash + '-noscroll"]').tab('show');

		$("#review-counter").html(`${num_reviews}`);

		if (num_reviews == 0) {
			$("table.reviews-table > thead").hide();
		} else {
			$("table.reviews-table > thead").show();
		}
	});

	function verifyReview(review_id, action) {
		var args = null;
		var action_type = action;

		if (action != "review_help") {
			$('#review_verified').val(action);
			args = {"count" : (num_reviews > 0 ? --num_reviews : 0)};
			action_type = "review_verify";
		}

		$('#review_id').val(review_id);
		$('#review_action_type').val(action_type);
		sendResponse($('#review_action_form').serialize(), action_type, args);
	}

	function verifyProfessor(form) {
		var professor_counter = (prof_count > 0 ? --prof_count : 0)
		args = {"count" : professor_counter, "num_reviews" : num_reviews}
		sendResponse($(form).serialize(), "professor_verify", args);
	}

	function verifySlug(form) {
		var professor_counter = (prof_count > 0 ? --prof_count : 0)
		sendResponse($(form).serialize(), "professor_slug", {"count" : professor_counter});
	}

	function deleteProfessor(form) {
		var professor_counter = (prof_count > 0 ? --prof_count : 0)
		var args = {"count" : professor_counter, "num_reviews" : num_reviews, "form": form};
		sendResponse($(form).serialize(), "professor_verify", args);
	}

	function recomputeTTLCache() {
		$.ajax({
			type: "POST",
			url: "{% url 'recompute-ttl-cache' %}",
		});
	}

	// when a user changes tabs, change url hash as well
	$('.nav-tabs a').on('shown.bs.tab', function (e) {
		window.location.hash = e.target.hash.replace("-noscroll", "");
	});

</script>
{% endblock %}
