{% extends "base_main.html" %}
{% load utils %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Admin | PlanetTerp{% endblock %}
{% block head %}
{% endblock %}

{% block content %}


{% crispy action_form %}

<div id="admin-tool-response" class="fixed-top hidden"></div>
<br />

<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#reviews-noscroll" id="reviews-tab" role="tab">Unverified Reviews <span id="review-counter" class="badge badge-primary"></span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#professors-noscroll" id="professors-tab" role="tab">Unverified Professors <span id="professor-counter" class="badge badge-primary">{{ professors|length}}</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#maintenance-noscroll" id="professors-tab" role="tab">Maintenance</a>
	</li>
</ul>

<div class="tab-content container mt-4">
	<div class="tab-pane fade show active" id="reviews-noscroll" role="tabpanel">
		{% render_table reviews_table %}
	</div>

	<div class="tab-pane fade" id="professors-noscroll" role="tabpanel">
		{% render_table professors_table %}

		<div id="merge-container">{% crispy merge_professor_form %}</div>
		<div id="slug-modal-container"></div>
		<div id="info-modal-container"></div>
	</div>

	<div class="tab-pane fade" id="maintenance-noscroll" role="tabpanel">
		<button class="btn btn-primary" onclick="recomputeTTLCache()">
			Recompute TTL Caches
		</button>

		<table class="table table-bordered mt-4 mb-4">
			<thead>
				<tr>
					<th style="width: 25%;">key</th>
					<th style="width: 15%;">time_salt</th>
					<th style="width: 60%;">value</th>
				</tr>
			</thead>

			<tbody>
				{% for item in ttl_cache_items %}
					<tr>
						<td>{{ item.0 }}</td>
						<td>{{ item.1 }}</td>
						<td>{{ item.2 }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	var prof_count = Number({{ professors|length }});
	var num_reviews = Number({{ reviews|length }});

	$(function() {
		var hash = window.location.hash;
		// when we change `window.location.hash`, if there is an element with id equal to that hash,
		// the browser will scroll to it automatically. We don't want this so we need to have our
		// tabs have a different id than the hash. We accomplish this by appending "Tab" to the hash
		// to get the corresponding tab element.

		if (hash)
			$('.nav-tabs a[href="' + hash + '-noscroll"]').tab('show');

		$("#review-counter").html(`${num_reviews}`);

		if (num_reviews == 0) {
			$("table.reviews-table > thead").hide();
		} else {
			$("table.reviews-table > thead").show();
		}
	});

	function verifyReview(review_id, action) {
		var args = null;
		var action_type = action;

		if (action != "review_help") {
			$('#verified').val(action);
			args = {"count" : (num_reviews > 0 ? --num_reviews : 0)};
			action_type = "review_verify";
		}

		$('#id_').val(review_id);
		$('#action_type').val(action_type);
		sendResponse($('#action_form').serialize(), action_type, args);
	}

	function verifyProfessor(professor_id, action) {
		var action_type = action;
		var professor_counter = (prof_count > 0 ? --prof_count : 0);
		args = {"count" : professor_counter, "num_reviews" : num_reviews}

		if (action != "professor_delete") {
			$('#verified').val(action);
			action_type = "professor_verify";
		}

		$('#id_').val(professor_id);
		$('#action_type').val(action_type);
		sendResponse($('#action_form').serialize(), action_type, args);
	}

	function verifySlug(form) {
		var professor_counter = (prof_count > 0 ? --prof_count : 0)
		sendResponse($(form).serialize(), "professor_slug", {"count" : professor_counter});
	}

	function recomputeTTLCache() {
		$.ajax({
			type: "POST",
			url: "{% url 'recompute-ttl-cache' %}",
		});
	}

	// when a user changes tabs, change url hash as well
	$('.nav-tabs a').on('shown.bs.tab', function (e) {
		let hash = e.target.hash.replace("-noscroll", "");
		// change hash without modifying history stack
		history.replaceState(undefined, undefined, hash);
	});

</script>
{% endblock %}
