{% load static %}
{% load professor_form_add %}
{% load unverified_count %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8981508768288124" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui-1.12.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/rateyo.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/rating.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/iziToast.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/professor-form.js' %}"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109898068-1"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-autocomplete.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/rateyo.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/iziToast.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/progressbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-5.15.3/css/all.min.css' %}">

        {% if user and user.is_staff %}
            <script type="text/javascript" src="{% static 'js/admin-action.js' %}"></script>
        {% endif %}

        <!-- must come at the end so we override other css files when specificity is equal -->
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

        {% if request.session.color_scheme == "dark" %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/darktheme.css' %}">
        {% endif %}

        {% block head %}{% endblock %}

        <meta property="og:type" content="website">
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="{% block description %}PlanetTerp is a website designed to help students at the University of Maryland &mdash; College Park make informed decisions.{% endblock %}"/>
        <style type="text/css">
            @media (min-width: 800px) {
                .iziToast, .iziToast-title {
                    width: 430px;
                }
            }
        </style>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-109898068-1');

            /* Track outbound clicks */
            /* from: https://support.google.com/analytics/answer/7478520 */
            var trackOutboundLink = function(url) {
                gtag('event', 'click', {
                    'event_category': 'outbound',
                    'event_label': url,
                    'transport_type': 'beacon'
                    // 'event_callback': function(){document.location = url;}
            });
            }

            $.ajaxSetup({
                data: {"csrfmiddlewaretoken": "{{ csrf_token }}"}
            })

            /* Modified from: https://millionclues.com/internet/tracking-outbound-links-google-analytics/ (partially from https://stackoverflow.com/a/8496919/8255629) */
            function onclickCallback(e) {
                var e = window.e || e;

                var target = e.target;

                /* If clicked on an image, get the parent element, which
                    should be an anchor element */
                if (target.tagName === 'IMG') {
                    target = target.parentElement;
                }

                if ((target.tagName !== 'A') || (target.host == window.location.host)) {
                    return;
                }

                trackOutboundLink(target); // GA event tracker
            }

            if (document.addEventListener) {
                document.addEventListener('click', onclickCallback, false);
            }
            else {
                document.attachEvent('onclick', onclickCallback);
            }

            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </head>

    <body>
        <div id="canvas-wrapper">
            <div id="navbar-wrapper" class="fixed-top">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand p-0" href="/" title="Home"><img src="{% static 'images/logo.png' %}" class="logo" alt="PlanetTerp's logo. The logo is a circle with a blue background and light green blots appearing on it. The word 'TERP' is in dark green in the middle." /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-navbar" aria-controls="site-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="site-navbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}" title="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'grades' %}" title="Grades">Grades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tools' %}" title="Tools">Tools</a>
                            </li>
                            <li class="nav-item" title="API">
                                <a class="nav-link" href="{% url 'api-docs' %}">API</a>
                            </li>
                            <li class="nav-item" title="GitHub">
                                <a class="nav-link" href="https://github.com/planetterp/planetterp">GitHub</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" title="Add Professor/TA" data-toggle="modal" data-target="#add-professor-modal" style="color: #9af99a;">Add Professor/TA</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav navbar-right mr-3">
                            {% if user.is_staff %}
                                <li class="nav-item">
                                    <a style="color: #ffc107;" class="nav-link" href="{% url 'admin' %}#reviews" title="Admin Page">
                                        <span id="unverified_count" class="badge badge-pill badge-warning">{% unverified_count %}</span>
                                        Admin Panel
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item mr-3">
                                {% if user.is_authenticated %}
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">{{ user.username }}</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdown-menu-button" role="menu">
                                            <a class="dropdown-item" href="{% url 'profile' %}">Your Reviews</a>
                                            <a class="dropdown-item" onClick="onProfileSettingsClick()" href="{% url 'profile' %}#settings">Settings</a>
                                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <a class="nav-link" href="{% url 'login' %}" title="Login / Register">Login / Register</a>
                                {% endif %}
                            </li>


                            <li class="nav-item">
                                <form action="{% url 'search' %}" class="form-inline">
                                    <label for="header-search" style="display: none;">Search for a professor or course</label>
                                    <input id="header-search" class="form-control" type="search" name="query" placeholder="Search..." aria-label="Search for a course, professor, or teaching assistant">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            {% comment %} TODO rewrite star generation so this isn't necessary {% endcomment %}
            {% if request.session.color_scheme == "dark" %}
                <!-- make sure we're above bootstrap's navbar -->
                <canvas id="navbar-canvas" style="z-index: 1100"></canvas>
            {% endif %}
        </div>

        <div id="add-professor-form-container">
            {% professor_form_add %}
        </div>

        <br />
        <br />
        <br />

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer id="page-footer" class="text-center w-100">
            <div class="footer-color">
                <span class="set-color-scheme" id="color-scheme-light" title="Set color scheme to light."></span>
                <span class="set-color-scheme" id="color-scheme-dark" title="Set color scheme to dark."></span>
            </div>
            <div style="position: relative; top: 15px;" class="copyright-text">
                Copyright &copy; 2017 &mdash; {% now "Y" %} PlanetTerp
                <div class="footer-info">
                    <a href="{% url 'privacy-policy' %}">Privacy Policy</a> | <a href="{% url 'terms-of-use' %}">Terms of Use</a>
                </div>
            </div>
        </footer>

        <script type="text/javascript">
            $(function() {
                $('.alert .close').click(function(){
                    $(this).parent().addClass("d-none");
                 });

                $("#header-search").autocomplete({
                    minLength: 3,
                    source: function(request, response) {
                        $.get("{% url 'autocomplete' %}", {"query": request.term, "types[]": ["professor", "course"], "return_attrs[]": ["url"]},  function(data) {
                            response(data);
                        });
                    },
                    select: function(event, ui) {
                        var location = ui.item.result.url;
                        window.location.href = location;
                        // prevent autocomplete from handling the event
                        return false;
                    }
                });

                $(".anonymous-checkbox > div.form-group").addClass("mb-0");

                initializeRateYo(2.4, "add");
            });

            $("#rateYo_add").on('shown.bs.modal', function() {
                setRateYoSize("#review-left-wrapper-add", "#rateYo_add");
            });

            function changeColorScheme(scheme) {
                $.ajax({
                    url: "{% url 'set-color-scheme' %}",
                    type: "POST",
                    data: {
                        'scheme': scheme,
                        // for some reason our ajaxSetup call hasn't taken effect by this point in the file, so we need
                        // to specify the csrf token manually.
                        // (or perhaps I'm mistaken and have made a mistake somewhere else that has caused the csrf
                        // token not to be passed).
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    // make sure the server has received our POST before refreshing, else the
                    // session's color scheme may not be set yet
                    success: function(data) {
                        location.reload();
                    }
                });
            }
            $("#color-scheme-light").click(function() {
                changeColorScheme("light");
            });

            $("#color-scheme-dark").click(function() {
                changeColorScheme("dark");
            });

            function setUpDarkScheme() {
                // "Stars" in navbar:
                var navbar = document.getElementById('navbar-wrapper');

                var canvas = document.getElementById('navbar-canvas');
                canvas.width = navbar.offsetWidth;
                canvas.height = navbar.offsetHeight;
                var ctx = canvas.getContext("2d");
                ctx.fillStyle = 'rgba(255,255,255,1)';

                for (var x = 0; x < navbar.offsetWidth; x += 1) {
                    for (var y = 0; y < navbar.offsetHeight; y += 1) {
                        if (Math.random() <= .003 ) { // ~1/333 chance
                            ctx.fillRect(x, y, 1, 1);
                        }
                    }
                }
                if (typeof Chart !== 'undefined') {
                    Chart.defaults.global.defaultFontColor = 'white';
                }
            }

            {% if request.session.color_scheme == "dark" %}
                $(function() {
                    setUpDarkScheme();
                });
            {% endif %}

        function onProfileSettingsClick() {
            // Allows user to switch to settings page from navbar dropdown when already on the profile page.
            // Without this the settings link in the navbar dropdown won't be able to switch you from
            // 'your reviews' to 'settings'. See also https://stackoverflow.com/a/19170628
            location.hash = "settings"
            location.reload();
        }
        </script>
    </body>
</html>
