{% extends "base_main.html" %}
{% load static %}
{% load utils %}

{% block title %}{{ course.name }} | PlanetTerp{% endblock %}
{% block description %}View professor reviews and grade data for {{ course.name }} at the University of Maryland &mdash; College Park{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'js/chart.min.js' %}"></script>
{% endblock %}

{% block content %}
<br />

<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="text-center"><strong>{{course.name }}</strong></h1>
			{% if course.title %}
				<h2 class="text-center">{{ course.title }}</h2>
			{% endif %}
			<div class="d-flex justify-content-center">
				<a href="{{ course.get_absolute_url }}/reviews" class="btn btn-primary">
					Reviews for this course
				</a>
				<a target="_blank" class="ml-2 btn btn-primary text-center" href="https://app.testudo.umd.edu/soc/search?courseId={{ course.name }}&sectionId=&termId={% current_semester %}&_openSectionsOnly=on&creditCompare=&credits=&courseLevelFilter=ALL&instructor=&_facetoface=on&_blended=on&_online=on&courseStartCompare=&courseStartHour=&courseStartMin=&courseStartAM=&courseEndHour=&courseEndMin=&courseEndAM=&teachingCenter=ALL&_classDay1=on&_classDay2=on&_classDay3=on&_classDay4=on&_classDay5=on">
					Testudo
				</a>
			</div>

			<div class="row">
				<div class="col">
					{% if course.description %}
						<p style="white-space: pre-line;"><i><b>Course Description:</b> {{ course.description }}</i></p>
					{% endif %}

					{% if course.prereqs %}
						<p style="white-space: pre-line;"><i><b>Prerequisites:</b> {{ course.prereqs }}</i></p>
					{% endif %}

					{% if course.coreqs %}
						<p style="white-space: pre-line;"><i><b>Corequisites:</b> {{ course.coreqs }}</i></p>
					{% endif %}

					{% if course.recs %}
						<p style="white-space: pre-line;"><i><b>Recommendations:</b> {{ course.recs }}</i></p>
					{% endif %}

					{% if course.restrictions %}
						<p style="white-space: pre-line;"><i><b>Restrictions:</b> {{ course.restrictions }}</i></p>
					{% endif %}

					{% if course.formerly %}
						<p style="white-space: pre-line;"><i><b>Formerly:</b> {{ course.formerly }}</i></p>
					{% endif %}

					{% if course.cross_listed_with %}
						<p style="white-space: pre-line;"><i><b>Cross-Listed With:</b> {{ course.cross_listed_with }}</i></p>
					{% endif %}

					{% if course.credit_granted_for %}
						<p style="white-space: pre-line;"><i><b>Credit Only Granted For:</b> {{ course.credit_granted_for }}</i></p>
					{% endif %}

					{% if course.additional_info %}
						<p style="white-space: pre-line;"><i><b>Additional Information:</b> {{ course.additional_info }}</i></p>
					{% endif %}
				</div>
			</div>
			
			{% if sister_courses %}
				<p>
					<b>Sister Courses: </b>
					{% for sister_course in sister_courses %}
						<a href="{{ sister_course.get_absolute_url }}">{{ sister_course.name }}</a>{% if not forloop.last %},{% endif %}
					{% endfor %}
				</p>
			{% endif %}
		</div>
	</div>
</div>

<div id="information-container">
	<div class="row">
		<div class="col-md-6 course-professors">
			{% for semester, professors in grouped_professors.items %}
				<h3 class="text-center">{{ semester }}</h3>
				<!--
					conveniently, the `sm` breakpoint lines up almost exatly with our mobile styling breakpoint.
					Since on mobile we put the graph above and the professors below, the professors suddenly have a
					lot more space and can be put into 2 columns again.
				-->
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-lg-2">
					{% for professor in professors %}
						<div class="col px-2 pb-3">
							<div class="professor-card card h-100">
								<div class="card-header text-center px-1 pb-0 pt-1">
									<h4><a href="{{ professor.get_absolute_url }}">{{ professor.name }}</a></h4>
								</div>
								<div class="card-body">
									<p class="card-text">
										{% if professor.num_reviews == 1 %}
											{{ professor.num_reviews }} review
										{% else %}
											{{ professor.num_reviews }} reviews
										{% endif %}
										<br />
										Average rating:
										{% if professor.average_rating_ %}
											{{ professor.average_rating_|floatformat:2 }}
										{% else %}
											N/A
										{% endif %}
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		<div class="col-md-6" id="course-grades">
			{% include "grade_graph.html" with course=course.name only %}
		</div>
	</div>
</div>
{% endblock %}
