{% extends "base_main.html" %} {% load static %} {% load utils %} {% block title
%}Course Difficulty | PlanetTerp{% endblock %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/datatables.min.css' %}"
/>
<script
  type="text/javascript"
  charset="utf8"
  src="{% static 'js/datatables.min.js' %}"
></script>

<meta
  property="og:title"
  content="Easiest &amp; Hardest Courses &amp; Departments at UMD | PlanetTerp"
/>
<meta
  property="og:description"
  name="description"
  content="A list of the easiest and hardest courses and departments by GPA at the University of Maryland &mdash; College Park."
/>
<meta
  property="og:image"
  content="{% full_static 'images/tools/coursedifficulty.png' %}"
/>
<meta
  property="og:image:alt"
  content='A screenshot of a page titled "Easiest &amp; Hardest Courses &amp; Departments". It is for courses and departments at the University of Maryland. There are two tables with headers "Difficulty by department" and "Difficulty by course". These list each department and course on PlanetTerp as well as their average GPA and the number of students in each.'
/>
<meta property="og:url" content="{% full_url 'tools-course-difficulty' %}" />

<style>
  .dataTables_filter {
    float: left !important;
  }

  .table-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    text-align: center;
  }

  #courses-table_paginate,
  #departments-table_paginate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
{% endblock %} {% block content %}
<div class="tools-header">Course Difficulty</div>

<div class="tools-article">
  <p>
    This tool shows the average GPA of courses and departments at the University
    of Maryland &mdash; College Park. The grade data includes all courses taught
    at UMD in the Fall and Spring from 2012 onwards. Semesters which were taught
    Pass / Fail are not included.
  </p>

  <p>
    Please note that average GPA is not a great metric for judging a course's
    difficulty. We believe students should not take a course based on which
    professor gives the highest grades. Of course, it is up to you; we do our
    best to provide the data to help you make an informed decision.
  </p>

  <h2>Difficulty By Department</h2>

  <div class="table-container">
    <table id="departments-table" class="table table-bordered">
      <thead>
        <tr>
          <th>Department</th>
          <th>Average GPA</th>
          <th># Students</th>
        </tr>
      </thead>
    </table>
  </div>

  <h2 class="pt-3">Difficulty By Course</h2>

  <div class="table-container">
    <table id="courses-table" class="table table-bordered">
      <thead>
        <tr>
          <th>Course</th>
          <th>Average GPA</th>
          <th># Students</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<br />

<hr />

<div class="tools-article">
  <p>
    GPA calculations are done according to
    <a
      href="https://registrar.umd.edu/current/Policies/acadregs.html#plusminus"
      target="_blank"
      >UMD's grade to quality points rules</a
    >. All withdrawals (W) are considered to be 0.0 quality points. "Other"
    grades are not factored into GPA calculation. Only departments and courses
    with 100 or more students are included. Courses and departments which can
    only be taken pass/fail are not included in this list.
  </p>

  <p></p>

  <p class="pb-3">
    Data is not guaranteed to be correct. The source of the data can be found
    <a href="/about#credits">here</a>.
  </p>
</div>

<script>
  $(function () {
    var DataTable = $.fn.dataTable;
    $.extend(true, DataTable.defaults, {
      dom:
        "<'row justify-content-center'<'col-sm-12 col-md-6 d-flex justify-content-center align-items-center'f>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-12'p>>",
      renderer: "bootstrap",
    });

    function dataTable(id, url) {
      const options = {
        info: false,
        deferRender: true,
        ajax: {
          url: url,
        },
      };
      $(`#${id}`).dataTable(options);
    }

    dataTable(
      "departments-table",
      "{% url 'course-difficulty-data' type_='departments' %}"
    );
    dataTable(
      "courses-table",
      "{% url 'course-difficulty-data' type_='courses' %}"
    );
  });
</script>
{% endblock %}
