{% extends "base_main.html" %}

{% block title %}Fall 2020 Status | PlanetTerp{% endblock %}
{% block description %}A status of which courses will be taught online at the University of Maryland &mdash; College Park for the Fall 2020 semester.{% endblock %}

{% block content %}
<br />
<h1 class="text-center">Will my courses at UMD be online for Fall 2020?</h1>
<br />

<p class="tools-article">Check the <a href="https://app.testudo.umd.edu/soc/">Schedule of Classes</a> to see the status of your courses for the Fall 2020 semester.</p>
{% endblock %}
