<div class="container">
    <div class="row text-center">
        <div class="col">
            <strong id="average-gpa-text"></strong>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="exclude-spring-2020-checkbox">
                <label class="custom-control-label" for="exclude-spring-2020-checkbox" id="exclude-spring-2020">exclude spring 2020</label>
            </div>
        </div>
        {% if lookup_by_courses %}
            <div class="col">
                <select id="grades-by-course" class="custom-select custom-select-sm w-auto">
                    <option value="All courses" selected>All courses</option>
                    {% for course in lookup_by_courses %}
                        <option value="{{ course }}">{{ course }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
            <canvas id="grades" width="500px" height="400px"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <small>* "W"s are considered to be 0.0 quality points. "Other" grades are not factored into GPA calculation. Grade data not guarenteed to be correct.</small>
        </div>
    </div>
</div>

<script type="text/javascript">
    const graph = $("#grades")[0].getContext("2d");
    const chart = new Chart(graph, {
        type: 'bar',
        data: {
            labels: ["A", "B", "C", "D", "F", "W", "other"],
            datasets: [
                {
                label: "-",
                data: [],
                backgroundColor: [
                    'rgba(58, 215, 65, .4)',
                    'rgba(58, 215, 65, .4)',
                    'rgba(58, 215, 65, .4)',
                    'rgba(58, 215, 65, .4)'
                ],
                borderColor: [
                    'rgba(29, 77, 0, 1)',
                    'rgba(29, 77, 0, 1)',
                    'rgba(29, 77, 0, 1)',
                    'rgba(29, 77, 0, 1)'
                ],
                borderWidth: 2
                },
                {
                label: "",
                data: [],
                backgroundColor: [
                    'rgba(25, 140, 35, .5)',
                    'rgba(25, 140, 35, .5)',
                    'rgba(25, 140, 35, .5)',
                    'rgba(25, 140, 35, .5)',
                    'rgba(226, 0, 0, .7)',
                    'rgba(226, 0, 0, .7)',
                    'rgba(217, 217, 217, .4)',
                ],
                borderColor: [
                    'rgba(29, 77, 0, 1)',
                    'rgba(29, 77, 0, 1)',
                    'rgba(29, 77, 0, 1)',
                    'rgba(29, 77, 0, 1)',
                    'rgba(196, 0, 0, 1)',
                    'rgba(196, 0, 0, 1)',
                    'rgba(201, 201, 201, 1)'
                ],
                borderWidth: 2
                },
                {
                label: "+",
                data: [],
                backgroundColor: [
                    'rgba(6, 74, 12, .7)',
                    'rgba(6, 74, 12, .7)',
                    'rgba(6, 74, 12, .7)',
                    'rgba(6, 74, 12, .7)'
                ],
                borderColor: [
                    'rgba(29, 77, 0, 1)',
                    'rgba(29, 77, 0, 1)',
                    'rgba(29, 77, 0, 1)',
                    'rgba(29, 77, 0, 1)'
                ],
                borderWidth: 2
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: "{% if professor %}{{ professor.name }}{% else %}{{ course.name }}{% endif %} Grade Distribution"
            },
            scales: {
                xAxes: [{stacked: true}],
                yAxes: [{
                    stacked: true,
                    scaleLabel: {
                        display: true,
                        labelString: "% of students"
                    }}
                ]
            },
            legend: {
                reverse: true
            },
            responsive: true,
            tooltips: {
                callbacks: {
                    title: function(tooltipItem, data) {
                        return tooltipItem[0]['xLabel'] + data['datasets'][tooltipItem[0]['datasetIndex']]['label'];
                    }
                }
            },
            animation: {
                duration: 0
            }
        }
    });

    function updateGraph(params) {
        $.get("{% url 'grade-data' %}", params, function(grade_data) {

            var average_gpa = grade_data.average_gpa ?? 0;
            var num_students = grade_data.num_students ?? 0;

            $("#average-gpa-text").html(`Average GPA of ${average_gpa.toFixed(2)} between ${num_students.toLocaleString()} students*`);
            chart.data.datasets[0].data = grade_data.data_minus
            chart.data.datasets[1].data = grade_data.data_flat
            chart.data.datasets[2].data = grade_data.data_plus
            chart.update();

            {% if callback %}
                {{ callback }}(chart);
            {% endif %}
        });
    }

    var params = {
        course: "{{ course }}",
        professor: "{{ professor }}",
        spring_2020: false
    }

    $(function() {
        updateGraph(params);

        if ($("#grades-by-course").length) {
            $("#grades-by-course").on("change", function() {
                if (this.value == "All courses") {
                    // unset filter if user reselects "all courses"
                    params.course = "";
                } else {
                    // otherwise, filter to only the specified course
                    params.course = this.value;
                }
                updateGraph(params);
            });
        }
    });

    $("#exclude-spring-2020-checkbox").on("change", function() {
        params.spring_2020 = !this.checked
        updateGraph(params);
    });

</script>
