{% extends "base_main.html" %}
{% load utils %}
{% load static %}

{% block title %}Grade Inflation | PlanetTerp{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'js/chart.min.js' %}"></script>

<meta property="og:title" content="Grade Inflation at UMD | PlanetTerp">
<meta property="og:description" name="description" content="Visualize grade inflation at UMD for departments and courses over time.">
<meta property="og:image" content="{% full_static 'images/tools/gradeinflation.png' %}">
<meta property="og:image:alt" content="A screenshot of a page titled &quot;Grade Inflation&quot;. The page contains a chart that allows users to input a department or course. After the user searches, a chart appears that shows the average GPA at the University of Maryland for that department or course from 1998 until 2021.">
<meta property="og:url" content="{% full_url 'tools-grade-inflation' %}">

<style>
	#distribution-search {
		width: 200px;
		margin-left: 15px;
	}

	.distribution-search-button {
		margin-left: 5px;
	}

	#distribution-wrapper {
		height: 100vh;
		width: 95vw;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}

	.alert {
		width: 282px;
	}

	@media (min-width: 900px) {
		#search-form {
			position: absolute;
		}
	}

	#all-courses {
		margin: 0 auto;
	}

	#all-courses:focus {
		box-shadow: none;
	}

	#chart-loading {
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		display: none;
	}

</style>
{% endblock %}
{% block content %}
<div class="tools-header">Grade Inflation</div>

<div class="tools-article">
	<p>This tool visualizes how the average GPA has changed over the last 20 years at the University of Maryland &mdash; College Park. You can search for an entire department (e.g. "MATH" for the math department) or for a specific course (e.g. "CMSC131"). Clicking the 'View All Courses' button shows the average GPA of all courses combined since Spring 1998.</p>

	<div class="row test">
		<form method="POST" id="search-form" class="form-inline">
			<input type="text" class="form-control" id="distribution-search" placeholder="Department or course" name="search">
			<button type="submit" class="btn btn-primary distribution-search-button">Search</button>
			&nbsp;
			<i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="You can search for a department or course. For example, &quot;ENGL&quot; or &quot;ENGL101&quot;."></i>
		</form>

		<button type="button" id="all-courses" class="btn btn-primary">View All Courses</button>
	</div>
	<div id="search-form-error"></div>
</div>

<div id="chart-loading" class="alert alert-info text-center center-block">
	Loading <i class="fas fa-spinner fa-pulse"></i>
</div>

<div id="distribution-wrapper">
	<a id="distribution-search"></a>
	<canvas id="distribution"></canvas>
</div>

<hr>

<div class="tools-article">
	<p>"1998 S" means "1998 Spring"; "1998 F" means "1998 Fall".</p>

	<p>GPA calculations are done according to <a href="https://registrar.umd.edu/current/Policies/acadregs.html#plusminus" target="_blank">UMD's grade to quality points rules</a>. All withdrawals (W) are considered to be 0.0 quality points.</p>

	<p>There is an error in which Fall 2008 and Fall 2009 have identical grade data. We are requesting the correct data and will update this chart when we receive it.</p>

	<p class="pb-3">Data is not guaranteed to be correct. The source of the grade data can be found <a href="/about#credits">here</a>.</p>
</div>

<script>
	var options = {
		scales: {
			xAxes: [{
				scaleLabel: {
					display: true,
					labelString: 'Semester'
				},
				ticks: {
					autoSkip: false
				}
			}],
			yAxes: [{
				scaleLabel: {
					display: true,
					labelString: 'Average GPA'
				},
				ticks: {
					suggestedMin: 2.4,
					suggestedMax: 3.8,
				}
			}]
		}
	}

	var distributionGraph;

	$(document).ready(function() {
		var distributionCanvas = document.getElementById("distribution");
		var ctx = distributionCanvas.getContext("2d");

		createChart("");

		$('#all-courses').on('click', function(e) {
			createChart("");
		});

		$("#search-form").submit(function(e) {
			createChart($("#distribution-search").val());

			e.preventDefault();
		});
	});

	function createChart(searchQuery) {
		$('#chart-loading').show();

		$("#distribution-wrapper").hide();
		$("#search-form-error").html("");

		if (typeof distributionGraph !== 'undefined') {
			distributionGraph.destroy();
		}

		$.ajax({
			type: "POST",
			data: {"search": searchQuery},
			success: function(response) {
				$('#chart-loading').hide();
				$("#distribution-wrapper").show();

				var distributionCanvas = document.getElementById("distribution");
				var ctx = distributionCanvas.getContext("2d");

				var label = $("#distribution-search").val().toUpperCase();

				if (label === "") {
					label = "All courses";
				}

				var data = {
					labels: response[0],
					datasets: [
						{
							label: label,
							data: response[1],
							fill: false,
							backgroundColor: '#008D94',
							borderColor: '#0DB537'
						}
					]
				};

				distributionGraph = new Chart(ctx, {
					type: 'line',
					data: data,
					options: options
				});
			},
			error: function(response) {
				$('#chart-loading').hide();
				var errorText = "<div class=\"alert alert-danger text-center\">";
				errorText += "<strong>Error:</strong> ";
				errorText += response.responseText;
				errorText += "</div><br />";
				$("#search-form-error").html(errorText);
			}
		});
	}
</script>
{% endblock %}
