{% extends "base_main.html" %}
{% load crispy_forms_tags %}
{% load utils %}
{% load static %}

{% block title %}Grade Lookup | PlanetTerp{% endblock %}

{% block head %}

<meta property="og:title" content="Grade Lookup | PlanetTerp">
<meta name="description" content="Grade data by professor, course, semester, and/or section at the University of Maryland &mdash; College Park." />
<meta property="og:image" content="{% full_static 'images/tools/grades.png' %}">
<meta property="og:image:alt" content="A screenshot of a bar chart entitled &quot;CMSC131 Spring 2017 Section 0101 Grade Distribution&quot;. The average GPA was 2.30 between 32 students. The most common grade was an A.">
<meta property="og:url" content="{% full_url 'grades' %}">

<style>
	.error-alert {
		width: 35%;
	}

	.graph-wrapper {
		width: 600px;
		height: 400px;

		margin: 0 auto;
		margin-bottom: 30px
	}

	.grades-info {
		margin-bottom: 0px;
	}

	/** Begin mobile **/

	@media (max-width: 800px) {
		.graph-wrapper {
			width: 90vw;
			height: 300px;
		}
	}

	/** End mobile **/
</style>
{% endblock %}


{% block content %}
<div class="info-page">
	<h1 class="text-center">Historical Grade Lookup</h1>

	<div class="row">
		<div class="col-6 text-center">
			<h2>Lookup by course</h2>
			<div id="course-lookup-form-container">
				{% crispy course_form %}
			</div>
		</div>

		<div class="col-6 text-center">
			<h2>Lookup by professor</h2>
			<div id="professor-lookup-form-container">
				{% crispy professor_form %}
			</div>
		</div>
	</div>

	<div id="includePFSemesters-input" style="text-align: center; display: none;">
		<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="left" title="During the Spring 2020 and Spring 2021 semesters, students could choose to take some of their courses pass-fail mid-semester which skews grade data aggregated across multiple semesters."></i>
		<label for="includePFSemesters">Include P/F semesters</label>
		<input type="checkbox" id="includePFSemesters" style="top: 2px; position: relative;">
	</div>

	<p id="grades-information" class="text-center" style="margin-bottom: 0;"></p>
	<div id="grades-graphs"></div>
</div>

<hr>

<div class="info-page">
	<p>Data is not guaranteed to be correct.</p>

	<p>"W"s are considered to be 0.0 quality points. "Other" grades are not factored into GPA calculation.</p>

	<p class="pb-3">The source of the grade data can be found <a href="/about#credits">here</a>.</p>
</div>

<script type="text/javascript" src="{% static 'js/chart.min.js' %}"></script>
<script>
	const ENTER_KEY = 13;
	var canvasCount = 0;
	var gradesGraph;
	var lastSearch;

	$(function() {
		initalizeKeypressEvent("#course-search");
		initalizeKeypressEvent("#professor-search");
		initializeCourseSearchAutoComplete();
		initializeProfessorSearchAutoComplete();
		initializeChangeEvent();
	});

	function clearCourseSearchForm() {
		$("#course-search").val("");
		$("#semester-search").val("");
		$("#div_id_semester").hide();
		$("#section-search").val("");
		$("#section-search-input").hide();
	}

	function getCourseSearchParams() {
		var course = $("#course-search").val();
		var semester = $("#semester-search").val();
		var section = $("#section-search").val();
		return {
			course: course,
			semester: semester,
			section: section
		}
	}

	function initializeChangeEvent() {
		$('#includePFSemesters').on('change', function(e) {
			if (lastSearch == "course") {
				submitCourseSearch();
			} else if (lastSearch == "professor") {
				professorGrades();
			}
		});
	}

	function initalizeKeypressEvent(elementId) {
		$(elementId).keypress(function (e) {
			if (e.which == ENTER_KEY) {
				if (elementId = "#course-search") {
					submitCourseSearch();
				} else {
					$("#semester-search-input").hide();
					$("#section-search-input").hide();
					professorGrades($("#professor-search").val());
				}
				e.preventDefault();
			}
		});
	}

	function initializeCourseSearchAutoComplete() {
		$("#course-search").autocomplete({
			minLength: 3,
			delay: 100,
			source: function(request, response) {
				$.ajax({
					url: "{% url 'autocomplete' %}",
					dataType: 'json',
					data: {
						"query": request.term,
						"types[]": ["course"],
						"return_attrs[]": ["name"]
					},
					success: function(data) {
						response(data);
					}
				})
			},
			select: function(e, ui) {
				$("#course-search").val(ui.item.result.name);
				submitCourseSearch();
			}
		});
	}

	function initializeProfessorSearchAutoComplete() {
		$("#professor-search").autocomplete({
			minLength: 3,
			delay: 100,
			source: function(request, response) {
				$.ajax({
					url: "{% url 'autocomplete' %}",
					dataType: 'json',
					data: {
						"query": request.term,
						"types[]": ["professor"],
						"return_attrs[]": ["name"]
					},
					success: function(data) {
						response(data);
					}
				})
			},
			select: function(event, ui) {
				$("#professor-search").val(ui.item.result.name);
				professorGrades();
			}
		});
	}
	
	function generate_graph(grade_data, course, semester=null, section=null) {
		course = course.toUpperCase();
		// Create a new row for every third graph
		if (canvasCount % 2 == 0) {
			$("#grades-graphs").append('<div class="row"></div>');
		}
		// Create a new column to hold the graph and append to the rows
		let $graphColumn = $('<div class="col"></div>');
		$("#grades-graphs .row:last-child").append($graphColumn);
		// Add the canvas and text elements to the column
		$graphColumn.append('<p id="grades-text' + canvasCount + '" class="text-center grades-info"></p>');
		$graphColumn.append('<div class="graph-wrapper"><canvas id="grades' + canvasCount + '" width="500px" height="500px" style="margin: 0 auto;"></canvas></div>');
		var grades_text = `Showing data for <a href="/course/${course}" target="_blank">${course}</a>`

		if ($("#semester-search").is(':visible')) {
			let el = document.getElementById("semester-search");
			grades_text += ` ${el.options[el.selectedIndex].text}`
		}
		if ($("#section-search").is(':visible') && $("#section-search").val()) {
			grades_text += ` (Section ${section})`
		}

		grades_text += `<br>Average GPA: ${grade_data.average_gpa.toFixed(2)} between ${grade_data.num_students.toLocaleString()} students`
		$("#grades-text" + canvasCount).html(grades_text);
		canvasCount++;
		
		let graph = document.getElementById('grades' + (canvasCount - 1)).getContext("2d");
		gradesGraph = new Chart(graph, {
			type: 'bar',
			data: {
				labels: ["A", "B", "C", "D", "F", "W", "other"],
				datasets: [
					{
						label: "-",
						data: grade_data.data_minus,
						backgroundColor: [
							'rgba(58, 215, 65, .4)',
							'rgba(58, 215, 65, .4)',
							'rgba(58, 215, 65, .4)',
							'rgba(58, 215, 65, .4)'
						],
						borderColor: [
							'rgba(29, 77, 0, 1)',
							'rgba(29, 77, 0, 1)',
							'rgba(29, 77, 0, 1)',
							'rgba(29, 77, 0, 1)'
						],
						borderWidth: 2
					},
					{
						label: "",
						data: grade_data.data_flat,
						backgroundColor: [
							'rgba(25, 140, 35, .5)',
							'rgba(25, 140, 35, .5)',
							'rgba(25, 140, 35, .5)',
							'rgba(25, 140, 35, .5)',
							'rgba(226, 0, 0, .7)',
							'rgba(226, 0, 0, .7)',
							'rgba(217, 217, 217, .4)',
						],
						borderColor: [
							'rgba(29, 77, 0, 1)',
							'rgba(29, 77, 0, 1)',
							'rgba(29, 77, 0, 1)',
							'rgba(29, 77, 0, 1)',
							'rgba(196, 0, 0, 1)',
							'rgba(196, 0, 0, 1)',
							'rgba(201, 201, 201, 1)'
						],
						borderWidth: 2
					},
					{
						label: "+",
						data: grade_data.data_plus,
						backgroundColor: [
							'rgba(6, 74, 12, .7)',
							'rgba(6, 74, 12, .7)',
							'rgba(6, 74, 12, .7)',
							'rgba(6, 74, 12, .7)'
						],
						borderColor: [
							'rgba(29, 77, 0, 1)',
							'rgba(29, 77, 0, 1)',
							'rgba(29, 77, 0, 1)',
							'rgba(29, 77, 0, 1)'
						],
						borderWidth: 2
					}
				]
			},
			options: {
				title: {
					display: true,
					text: 'Grade Distribution'
				},
				scales: {
					xAxes: [{stacked: true}],
					yAxes: [{
						stacked: true,
						scaleLabel: {
							display: true,
							labelString: "% of students"
						}}
					]
				},
				legend: {
					reverse: true
				},
				responsive: true,
				maintainAspectRatio: false,
				tooltips: {
					callbacks: {
						title: function(tooltipItem, data) {
							return tooltipItem[0]['xLabel'] + data['datasets'][tooltipItem[0]['datasetIndex']]['label'];
						}
					}
				}
			}
		});
	}

	function submitCourseSearch() {
		lastSearch = "course";
		var params = getCourseSearchParams();
		var course = params.course;
		var semester = params.semester;
		var section = params.section;
		var pf_semesters = ["Spring 2020", "Fall 2020", "Spring 2021"];

		$.ajax({
			url: "{% url 'grades' %}",
			type: "POST",
			dataType: 'json',
			data: {
				'course': course,
				'semester': semester,
				'section': section,
				'pf_semesters': function() {
					if (semester in pf_semesters) {
						$("#includePFSemesters-input").hide()
						$("#includePFSemesters").prop('checked', true);
					}
					return $('#includePFSemesters').is(':checked');
				}
			},
			success: function(data) {
				$("html").find('.graph-wrapper').remove(); // Remove all previously created graphs
				$("html").find('.grades-info').remove(); // Remove all previously created course information
				$("#grades-information").html("");
				$("#course-lookup-form-container").html(data.course_form);
				$("#professor-search").val("");
				initalizeKeypressEvent("#course-search");
				initalizeKeypressEvent("#professor-search");
				initializeCourseSearchAutoComplete();

				if (data["course_search_success"] && Object.keys(data.course_data).length > 0) {
					$(".lookup-error").hide();
					$("#semester-search-input").show();

					if (!(semester in pf_semesters)){
						$("#includePFSemesters-input").show();
					}
					if ($("#semester-search").val()) {
						$("#section-search-input").show();
					}
					canvasCount = 0;
					generate_graph(data.course_data, course, semester, section);
				} else {
					$(".lookup-error").show();
				}
			}
		})
	}

	function professorGrades() {
		lastSearch = "professor";

		$.ajax({
			url: "{% url 'grades' %}",
			type: "POST",
			dataType: 'json',
			data: {
				'professor': $("#professor-search").val(),
				'pf_semesters': $('#includePFSemesters').is(':checked')
			},
			success: function(data) {
				clearCourseSearchForm()
				$("#grades-information").html("");
				$("#grades-information-error").html("");
				$("html").find('.graph-wrapper').remove(); // Remove all previously created graphs
				$("html").find('.grades-info').remove(); // Remove all previously created course information
				$("#professor-lookup-form-container").html(data.professor_form);
				initalizeKeypressEvent("#course-search");
				initalizeKeypressEvent("#professor-search");
				initializeProfessorSearchAutoComplete();
				canvasCount = 0;
				if (data['professor_search_success'] && Object.keys(data.professor_data.data).length > 0) {
					$(".lookup-error").hide();
					var name = $("#professor-search").val();
					var averageGpa = data.professor_data.average_gpa;
					var numStudents = data.professor_data.num_students;
					var slug = data.professor_data.professor_slug;
					var grade_data = data.professor_data.data
					$("#grades-information").html(`<h1><strong><a href="/professor/${slug}" target="_blank"> ${name} </a></strong></h1> <h4>Average GPA: ${averageGpa.toFixed(2)} between ${numStudents.toLocaleString()} students</h4>`);
					$("#grades-information").append(`<em> ${name} grade distribution for ${Object.keys(grade_data).length} course(s):</em>`);
					$("#grades-information").find('.row').remove(); // Remove previously created rows
					for (var [course_name, course_data] of Object.entries(grade_data)) {
						generate_graph(course_data, course_name);
					}

					$("#includePFSemesters-input").show();
				} else {
					$(".lookup-error").show();
				}
			}
		})
	}

</script>
{% endblock %}