{% extends "base_main.html" %}
{% load crispy_forms_tags %}

{% block title %}Login / Register | PlanetTerp{% endblock %}
{% block description %}Login or register for PlanetTerp.{% endblock %}

{% block content %}
<br />

<div class="container">
	<div class="row">
		<div class="col">
			<h2>Login</h2>
			<div id="login-form-container">
				{% crispy login_form %}
			</div>

			<div id="password-reset-form-container">
				{% crispy password_reset_form %}
			</div>
		</div>
		<div class="col">
			<h2 class="d-inline">Register</h2> <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Registering will allow you to keep track of the reviews you post and give you a choice of displaying your name next to your reviews"></i>
			<div id="register-form-container">
				{% crispy register_form %}
			</div>
		</div>
	</div>
</div>

<script>
	function submitLoginForm() {
		$.ajax({
			type: "POST",
			url: "{% url 'login' %}",
			data: $("#login-form").serialize(),
			success: function(data) {
				if (data['success']) {
					location.assign('/profile');
				} else {
					$("#login-form-container").html(data['login_form']);
					$("div.login-error").show();
				}
			}
		});

	}

	function submitRegisterForm() {
		$.ajax({
			type: "POST",
			url: "{% url 'register' %}",
			data: $("#register-form").serialize(),
			success: function(data) {
				if (data['success']) {
					location.assign('/profile');
				} else {
					$("#register-form-container").html(data['register_form']);
					$("div.register-error").show();
				}
			}
		});
	}

	function submitPasswordResetForm() {
		$.ajax({
			type: "POST",
			url: "{% url 'password-reset' %}",
			data: $("#reset-password-form").serialize(),
			success: function(data) {
				$(`#password-reset-modal`).modal('hide');
				$(".modal-backdrop").remove();
				$("#password-reset-form-container").html(data['form']);
				$("#email_response").show();
				$(`#password-reset-modal`).modal('show');
			}
		});
	}

</script>
{% endblock %}
