{% extends "base_main.html" %}
{% load crispy_forms_tags %}

{% block title %}Login / Register | PlanetTerp{% endblock %}
{% block description %}Login or register for PlanetTerp.{% endblock %}

{% block content %}
<br />

<div class="container">
	<div class="row">
		<div class="col">
			<h2>Login</h2>
			<div id="login-form-container">
				{% crispy login_form %}
			</div>
			<form id="forgot-password-form" style="display: none;">
				<h2>Reset Password</h2>
				<div class="form-group row">
					<div class="col-sm-10">
						<label class="col-form-label" for="forgot-password-email"><strong>Enter your email for reset password instructions</strong></label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-10">
						<input class="form-control" type="email" name="email" id="forgot-password-email" placeholder="Email">
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-10">
						<button class="btn btn-primary" type="submit">Send Reset Email</button>
					</div>
				</div>
			</form>
			<div id="forgot-password-form-response" class="pt-2"></div>
		</div>
		<div class="col">
			<h2 class="d-inline">Register</h2> <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Registering will allow you to keep track of the reviews you post and give you a choice of displaying your name next to your reviews."></i>
			<div id="register-form-container">
				{% crispy register_form %}
			</div>
		</div>
	</div>
</div>
<script>
	function showForgotPassword() {
		if (document.getElementById('forgot-password-form').style.display == 'none') {
			document.getElementById('forgot-password-form').style.display = 'block';
		}
	}

	function submitLoginForm() {
		$.ajax({
			type: "POST",
			url: "{% url 'login' %}",
			data: $("#login-form").serialize(),
			success: function(data) {
				if (data['success']) {
					location.assign('/profile');
				} else {
					$("#login-form-container").html(data['login_form']);
					$("div.login-error").show();
				}
			}
		});
	}

	function submitRegisterForm() {
		$.ajax({
			type: "POST",
			url: "{% url 'register' %}",
			data: $("#register-form").serialize(),
			success: function(data) {
				if (data['success']) {
					location.assign('/profile');
				} else {
					$("#register-form-container").html(data['register_form']);
					$("div.register-error").show();
				}
			}
		});
	}


	$("#forgot-password-form").submit(
		function(e) {
			var data = {"email": $("#forgot-password-email").val()};
			$.post("/passwordreset", data)
			.done(function(data) {
				var successText = "<div class=\"alert alert-success text-center\" style=\"width: 100%;\">";
				successText += "<strong>Password reset email sent.</strong> Check your email for further instructions."
				successText += "</div><br />"
				$("#forgot-password-form-response").html(successText);
			})
			.fail(function(xhr, textStatus, errorThrown) {
				var errorText = "<div class=\"alert alert-danger text-center\" style=\"width: %100;\">"
				errorText += "<strong>Error:</strong> ";
				errorText += xhr.responseText;
				errorText += "</div><br />";
				$("#forgot-password-form-response").html(errorText);
			});
			e.preventDefault();
		});
</script>
{% endblock %}
