{% extends "base_main.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }} | PlanetTerp{% endblock %}
{% block description %}View your profile.{% endblock %}

{% block content %}
<br />

<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#reviews-noscroll" id="your-reviews-tab" role="tab" aria-controls="reviews-noscroll" aria-selected="true">Your Reviews</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#settings-noscroll" id="settings-tab" role="tab" aria-controls="settings-noscroll" aria-selected="false">Settings</a>
	</li>
</ul>

<div class="tab-content" id="profilePageContent">
	<div class="tab-pane fade show active" id="reviews-noscroll" role="tabpanel" aria-labelledby="your-reviews-tab">
	<h1 class="text-center my-4">Your Reviews</h1>
	<div id="reviews-table-container" style="width: 80%; margin-left: auto; margin-right: auto; min-width: 600px; overflow-x: auto;">
		{% render_table reviews_table %}
	</div>
</div>

<div class="tab-pane fade" id="settings-noscroll" role="tabpanel" aria-labelledby="settings-tab">
	<h1 class="text-center my-4">Settings</h1>
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div id="profile-form-container" class="col-5">
				{% crispy form %}
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>

<script>
	$(function() {
		var hash = window.location.hash;
		// when we change `window.location.hash`, if there is an element with id equal to that hash,
		// the browser will scroll to it automatically. We don't want this so we need to have our
		// tabs have a different id than the hash. We accomplish this by appending "Tab" to the hash
		// to get the corresponding tab element.
		if (hash) {
			$('.nav-tabs a[href="' + hash + '-noscroll"]').tab('show');
		}

	});

	// when a user changes tabs, change url hash as well
	$('.nav-tabs a').on('shown.bs.tab', function (e) {
		let hash = e.target.hash.replace("-noscroll", "");
		// change hash without modifying history stack
		history.replaceState(undefined, undefined, hash);
	});

	function updateProfile() {
		$.ajax({
			type: "POST",
			url: "{% url 'profile' %}",
			data: $("#profile-form").serialize(),
			success: function(data) {
				if (data["success"]) {
					$("#profile-form-success").html(data["message"]);
					$("#profile-form-success").removeClass('d-none').addClass('d-inline');

					let email_field = $("#profile-form #id_email");
					if (!(email_field.val() == '' || email_field.prop("disabled"))) {
						email_field.prop("disabled", "true");
					}
				} else {
					$("#profile-form").html(data['form']);
					$("#profile-form div.invalid-feedback").show();
				}
			}
		});
	}
</script>
{% endblock %}
