{% extends "base_main.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password | PlanetTerp{% endblock %}
{% block description %}Reset Password for an account on PlanetTerp.{% endblock %}

{% block content %}

<br/>
<div class="container">
	<h2>Reset Password</h2>
	<div id="reset-password-form-container">
		{% crispy reset_password_form %}
	</div>
</div>

<script type="text/javascript">
	$("#reset-password-form").submit(function(e) {
		$.ajax({
			type: "POST",
			url: "{% url 'reset-password' reset_code %}",
			data: $("#reset-password-form").serialize(),
			success: function(data) {
				if (data["success"]) {
					location.assign('/profile');
				} else {
					$("#reset-password-form-container").html(data['form']);
					$("#password_response").show();
				}
			}
		});
		e.preventDefault();
	});
</script>

{% endblock %}
