{% extends "base_main.html" %}

{% block title %}Reset Password | PlanetTerp{% endblock %}
{% block description %}Reset Password for an account on PlanetTerp.{% endblock %}

{% block content %}

<br/>
<div class="container">
	<h2>Reset Password</h2>
	<form method="POST" id="password-reset-form">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" for="password"><strong>New Password</strong></label>
			<div class="col-sm-8" style="max-width: 40%;">
				<input class="form-control" type="password" name="password" id="password" placeholder="Password">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<button class="btn btn-primary" type="submit">Reset Password</button>
			</div>
		</div>
	</form>
	<div id="password-reset-form-response" class="pt-2"></div>
	</div>
</div>

<script>
	$("#password-reset-form").submit(
		function(e) {
			var new_password = $("#password").val();
			var data = {"new_password": new_password};
			// we can post to the current url because we're guaranteed to be on a page of the form
			// /profile/resetpassword/RESET_CODE. We don't need to specify the reset code because it's
			// already in the url and will be passed to the controller.
			$.post(window.location.pathname, data)
			.done(function(data) {
				var successText = "<div class=\"alert alert-success text-center success-alert\">";
				successText += "<strong>Successfully reset password.</strong> You have been logged in."
				successText += "</div><br />"
				$("#password-reset-form-response").html(successText);
			})
			.fail(function(xhr, textStatus, errorThrown) {
				var errorText = "<div class=\"alert alert-danger text-center error-alert\">";
				errorText += "<strong>Error:</strong> ";
				errorText += xhr.responseText;
				errorText += "</div><br />";
				$("#password-reset-form-response").html(errorText);
			});
			e.preventDefault();
		});
</script>

{% endblock %}
