{% extends "base_main.html" %}

{% block title %}View Schedule | PlanetTerp{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/schedule_view.css?v=1.1">

<meta property="og:title" content="View Schedule | PlanetTerp">
<meta property="og:description" name="description" content="View a schedule for the Fall 2018 semester at the University of Maryland &mdash; College Park.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://planetterp.com/static/images/schedule.png">
<meta property="og:image:alt" content='An image of a schedule. The schedule has five days of the week, from Monday until Friday. The schedule goes from 8:00 am until 9:00 pm and has the courses "CMSC131", "ENGL101", "JOUR150", "PHYS121", and "UNIV100". There are at least two courses every day of the week.'>
<meta property="og:url" content="https://planetterp.com/schedule">
{% endblock %}
{% block content %}

<script type="text/javascript" src="../static/js/chart.min.js"></script>

<script type="text/javascript" src="../static/js/next-schedule.js?v=1.2"></script>
<script type="text/javascript" src="../static/js/modify-schedule.js"></script>

<div class="information-wrapper">
	$if not saved_schedule:
		<span class="schedule-number-text">Schedule <strong>#<span id="schedule-number">1</span></strong></span>

	$if total_credits == 1:
		<span style="font-size: 17px; margin-right: 10px;"><strong>$total_credits</strong> credit</strong></span>
	$else:
		<span style="font-size: 17px; margin-right: 10px;"><strong>$total_credits</strong> credits</span>

	&mdash;

	<button id="schedule-information-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#schedule-information-1" style="margin-left: 10px; margin-right: 10px;">Information About This Schedule</button>

	&mdash;

	<a id="register-link" href="#" target="_blank">
		<button type="button" id="register-button" class="btn" style="margin-left: 10px;">Register Automatically</button>
	</a>

	$if logged_in:
		<a href="https://oauth.groupme.com/oauth/authorize?client_id=DgS80vzpKvpVkKcYHFZ4d4meDObUCNJGHCVilHftlWIVvr9h" target="_blank">
			<span class="groupme-auth">
				Log in with <img src="../static/images/groupme_logo.png" class="groupme-logo">
			</span>
		</a>
	$else:
		<a data-toggle="modal" data-target="#groupme-modal" href="#">
			<span class="groupme-auth">
				Log in with <img src="../static/images/groupme_logo.png" class="groupme-logo">
			</span>
		</a>
		<div id="groupme-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-groupme">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 id="modal-groupme" class="modal-title">Log in</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						You must be logged in to share your schedule with others in your GroupMe groups. <a href="/login" target="_blank">Log in or register</a> and then refresh this page to log in with GroupMe.
					</div>
				</div>
			</div>
		</div>

	<br />

	$if saved_schedule:
		<p class="saved-schedule"><strong>This is your saved schedule. If you would like to, you can <a href="/schedule/new">create a new one.</a></strong></p>

	<form id="edit-form" method="GET" action="/schedule/new">
		<input type="hidden" name="edit" value="true">
		<button type="submit" id="edit-schedule" class="btn">Edit</button>
	</form>

	<span style="top: 5px; position: relative;">&mdash;</span>

	$if logged_in:
		<form id="save-form">
			<input type="hidden" name="sections" id="sections-save">
			<button type="submit" id="save-schedule" class="btn">Save</button>
		</form>
	$else:
		<button id="login-button" class="btn" data-toggle="modal" data-target="#login-modal">Save</button>

		<div id="login-modal" class="modal fade pr-0" tabindex="-1" role="dialog" aria-labelledby="modal-login">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 id="modal-login" class="modal-title">Log in</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						You must be logged in to save your schedule. <a href="/login" target="_blank">Log in or register</a> and then refresh this page to save this schedule.
					</div>
				</div>
			</div>
		</div>

	<span style="top: 5px; position: relative;">&mdash;</span>

	<button type="button" id="share-schedule" class="btn" data-toggle="modal" data-target="#share-modal">Share</button>
	<div id="share-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-share">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="modal-share" class="modal-title">Share</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					You can share this link to display the currently selected schedule: <br />
					<p style="white-space: nowrap; overflow: scroll;">
						<code id="share-link"></code>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

$if not saved_schedule:
	<a id="prev-schedule" href="#">
		<div id="next-schedule-left" class="next-schedule">
			<i class="fas fa-chevron-circle-left"></i>
		</div>
	</a>

<div id="loading-icon" style="display: none;">
	<i class="fas fa-spinner fa-spin"></i>
</div>

$if not saved_schedule:
	<a id="next-schedule" href="#">
		<div id="next-schedule-right" class="next-schedule">
			<i class="fas fa-chevron-circle-right"></i>
		</div>
	</a>

<div id="schedules">
	$:schedules_html
</div>
{% endblock %}
