{% extends "base_main.html" %}

{% block title %}Create Schedule | PlanetTerp{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/schedule_new.css?v=1.1">
<link rel="stylesheet" type="text/css" href="../static/tempusdominus/tempusdominus-bootstrap-4.min.css">

<meta property="og:title" content="Create A Schedule | PlanetTerp">
<meta property="og:description" name="description" content="Create a schedule for the Spring 2019 semester at the University of Maryland &mdash; College Park.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://planetterp.com/static/images/schedule.png">
<meta property="og:image:alt" content='An image of a schedule. The schedule has five days of the week, from Monday to Friday. The schedule goes from 8:00 am until 9:00 pm and has the courses "CMSC131", "ENGL101", "JOUR150", "PHYS121", and "UNIV100". There are at least two courses every day of the week.'>
<meta property="og:url" content="https://planetterp.com/schedule/new">
{% endblock %}

{% block content %}
<script type="text/javascript" src="../static/js/moment.js"></script>
<script type="text/javascript" src="../static/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="../static/js/select-times.js"></script>

<script type="text/javascript" src="../static/js/search-autocomplete.js?v=1.1"></script>
<script type="text/javascript" src="../static/js/schedule-placeholder.js"></script>

<i id="tutorial-icon" class="fas fa-question-circle" data-toggle="modal" data-target="#tutorial-modal"></i>

<div id="loading-message" style="display: none;">
	<p>Hang tight.<br/>We're generating schedules for you...</p>
	<i class="fas fa-spinner fa-spin"></i>
</div>

<div id="tutorial-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-tutorial-header">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 id="modal-tutorial-header" class="modal-title">How to use Plan It Terp</h1>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="font-size: 18px;">
				<p style="text-indent: 50px;">This tool allows you to input courses you want to take and generates possible schedules for you. At its most simple, you can just input courses you want to take. For example, if you plan on taking ENGL101, MATH140, HIST201, and GEOG130, you can just input <code>ENGL101, MATH140, HIST201, GEOG130</code> into the large textbox, and then press enter.<br /></p>
				<p style="text-indent: 50px;">If you need to fulfill a certain general education requirement, you can enter that into the search box as well. For example, if you need a DSHU (Humanities) gened, enter <code>DSHU</code> into the large textbox.</p>
				<p style="text-indent: 50px;">You can further customize your schedule by setting times you do not want to have class. For example, if you don't want any classes before 10am on any day of the week, click on each of the "M Tu W Th F" buttons, enter "8:00 am" as the start exclusion time, and "10:00 am" as the end exclusion time (8:00 am is the earliest a class can start).</p>
				<p style="text-indent: 50px;">If you want to take a specific section, you can input that as well. For example, if you have a friend in BMGT230, section 0304, you can input <code>BMGT230(0304)</code> into the large textbox and a schedule will be generated that fits that section. If you want to take a certain professor, who teaches sections 0301, 0302, and 0303 of PHSC415, you can input <code>PHSC415(0301|0302|0303)</code> to generate schedules that fit any one of those three sections.</p>
				<p style="text-indent: 50px;">All of these options can be combined. For example, here is a valid search: <code>PHIL140(0105|0106),MUSC210(0112),AOSC375,DVCC</code></p>
				<hr />
				<p style="text-indent: 50px;">Once you have entered your courses and exclusion times, click on the <button class="btn btn-primary" type="submit">Create Schedule</button> button, and possible schedules will be generated. You can click through different possible schedules with the <i class="fas fa-chevron-circle-left traverse-schedules-icon"></i> and <i class="fas fa-chevron-circle-right traverse-schedules-icon"></i> buttons on the left and right of the screen.</p>
				<p style="text-indent: 50px;">Hovering over a course on the schedule shows its name. You can click on the <button type="button" id="schedule-information-button" class="btn">Information about this schedule</button> button to view more information about the current generated schedule, including geneds for each course, how many available seats that section has, the average GPA the professor for that section gives for that course, and the average rating of that professor.</p>
				<p style="text-indent: 50px;">Clicking on the <button type="button" id="register-button" class="btn">Register Automatically</button> button will take you to Testudo's registration page, with the courses of the current schedule filled out. Clicking "Submit" on that page will register you for those courses.</p>
				<p style="text-indent: 50px;">The next three buttons are <button type="button" class="edit-schedule btn">Edit</button>, <button type="button" class="save-schedule btn">Save</button>, and <button type="button" class="share-schedule btn">Share</button>. <button type="button" class="edit-schedule btn">Edit</button> will bring you back to this page, where you can edit the options used to create schedules. <button type="button" class="save-schedule btn">Save</button> will save your schedule to your account. <button type="button" class="share-schedule btn">Share</button> will give you a link that you can send to others so they can see your schedule.</p>
				<hr />
				<p style="text-indent: 50px;">You can also log in with your GroupMe account to share your schedule with friends in your GroupMe groups. On the top right of the page after you generate a schedule, you can click on <span style="color: #0000EE;">Log in with <img src="../static/images/groupme_logo.png" class="groupme-logo"></span> to authenticate with your GroupMe account. You can then select groups you want to share your schedule with, and see the schedules of others in your groups who created schedules on PlanetTerp.</p>
				<hr />
				<p style="text-align: center;">We hope you find this tool useful! If you find any issues with it or have any questions or feedback, please email us at <a href="mailto:admin@planetterp.com">admin@planetterp.com</a>.</p>
			</span>
			</div>
		</div>
	</div>
</div>

$if message == "no_schedules":
	<div class="alert alert-danger text-center error-alert">
		<strong>Error: </strong> No schedule found for those courses.
	</div>
	<br />
$if message == "no_schedules_gened":
	<div class="alert alert-danger text-center error-alert">
		<strong>Error: </strong> No schedule found for those courses.<br />You selected geneds with your courses. Try using the tool again &mdash; it chose a random gened which might not fit with your selected schedule, but running the tool again will choose another random gened which might work with your schedule.
	</div>
	<br />
$if message == "timeout":
	<div class="alert alert-danger text-center error-alert">
		<strong>Error: </strong> It took too long to find a valid schedule. Sorry. You can try again, or you can try using <a href="https://www.sis.umd.edu/bin/venus">Venus</a>. Please also consider <a href="mailto:admin@planetterp.com">contacting us</a> and letting us know which courses you're trying to search for.
	</div>
	<br />
$if message == "invalid_course":
	<div class="alert alert-danger text-center error-alert">
		<strong>Error: </strong> Invalid course entered.
	</div>
	<br />
$if message == "invalid_section":
	<div class="alert alert-danger text-center error-alert">
		<strong>Error: </strong> Invalid section entered.
	</div>
	<br />
$if message == "no_saved_schedule":
	<div class="alert alert-danger text-center error-alert">
		<strong>Error: </strong> You have not yet saved a schedule. Input the courses you'd like to take below to create a schedule.
	</div>
	<br />
$if message == "semester":
	<div class="alert alert-danger text-center error-alert">
		<strong>Error: </strong> One or more of the courses does not have any sections listed for this semester.
	</div>
	<br />
$if message == "waitlist":
	<div class="alert alert-danger text-center error-alert">
		<strong>Error: </strong> One or more of the courses you inputted only has sections with waitlists larger than the maximum waitlist you inputted.
	</div>
	<br />
$if message == "saved_schedule":
	<div class="alert alert-info text-center error-alert">
		<strong>Note: </strong> You have already generated a schedule. Creating a new one will delete the old one. <a href="/schedule">View your previously created schedule</a>.
	</div>
	<br />

<h1 class="text-center" style="font-weight: bold; margin-top: 5px;">Welcome to Plan It Terp!</h1>

<div class="enter-courses text-center">Enter courses and geneds:</div>

<input id="schedule-search" type="text" class="form-control">

<div id="selected-courses"></div>

<div class="enter-times text-center">Enter times you do not want classes:</div>

<div id="time-error" class="alert alert-danger text-center error-alert" style="display: none; margin-bottom: 10px;">
	<strong>Error: </strong> <span id="time-error-text"></span>
</div>


<div class="text-center">
	<div class="days-of-week">
		<input type="checkbox" name="monday" id="monday">
		<label for="monday">M</label>
		<input type="checkbox" name="tuesday" id="tuesday">
		<label for="tuesday">Tu</label>
		<input type="checkbox" name="wednesday" id="wednesday">
		<label for="wednesday">W</label>
		<input type="checkbox" name="thursday" id="thursday">
		<label for="thursday">Th</label>
		<input type="checkbox" name="friday" id="friday">
		<label for="friday">F</label>
	</div>
	<div class="form-group input-time-wrapper">
		<span class="input-group time input-time" id="start-time" data-target-input="nearest">
			<input type="text" id="start-time-input" class="form-control datetimepicker-input" data-target="#start-time" placeholder="Start">
			<span class="input-group-append" data-target="#start-time" data-toggle="datetimepicker">
				<span class="input-group-text"><i class="far fa-clock"></i></span>
			</span>
		</span>
		<span style="font-size: 25px;">&mdash;</span>
		<span class="input-group time input-time" id="end-time" data-target-input="nearest">
			<input type="text" id="end-time-input" class="form-control datetimepicker-input" data-target="#end-time" placeholder="End">
			<span class="input-group-append" data-target="#end-time" data-toggle="datetimepicker">
				<span class="input-group-text"><i class="far fa-clock"></i></span>
			</span>
		</span>

		<a href="#"><i id="add-time" class="fas fa-plus-square"></i></a>
	</div>
</div>

<div id="no-class" class="text-center" style="margin-top: 20px;"></div>

$if saved_maxwaitlist == -1:
	<div style="text-align: center;">Exclude sections with a waitlist greater than or equal to <input type="number" id="max-waitlist-input" class="form-control" style="width: 60px; display: inline;"> students</div>
$else:
	<div style="text-align: center;">Exclude sections with a waitlist greater than or equal to <input type="number" id="max-waitlist-input" class="form-control" style="width: 60px; display: inline;" value="$saved_maxwaitlist"> students</div>

<p style="text-align: center; font-size: 12px;">(input 0 to exclude any section with a waitlist; input -1 or leave blank to include all sections)</p>

<small class="verify-note">PlanetTerp does not guarantee the accuracy of the data and is not responsible for any scheduling problems. Verify the correct courses are entered before registering.</small>

<form id="select-courses" method="POST">
	<input type="hidden" name="courses" id="courses">
	<input type="hidden" name="restrictions" id="restrictions">
	<input type="hidden" name="max-waitlist" id="max-waitlist">
	<div class="submit-button-wrapper">
		<button id="schedule-submit" class="btn btn-primary" type="submit">Create Schedule</button>
	</div>
</form>

<script type="text/javascript">
	$for course in saved_courses:
		createSelectedCourse("$course");
</script>
<script type="text/javascript">
	$for restriction in saved_restrictions:
		createRestriction("$restriction['days']", "$restriction['start_time']", "$restriction['end_time']");
</script>
{% endblock %}
