{% extends "base_main.html" %}

{% block title %}Search | PlanetTerp{% endblock %}

{% block content %}
<div class="text-center">
	{% if not results %}
		<h2 class="mt-4">No results found.</h2>
	{% else %}
		<h2 class="mt-3">Search results</h2>

		{% for result in results %}
			<h3>
				<a href="{{ result.source }}/{{ result.slug }}">{{ result.name }}</a>
			</h3>
		{% endfor %}
	{% endif %}

	<span style="font-size: 22px;" class="align-middle">Professor/TA not found?</span>
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-professor-modal">Add a new Professor/TA</button>

	{% if results|length_is:"30" %}
		<div style="font-size: 22px;" class="pb-3">For more results, try a more specific query.</div>
	{% endif %}
</div>
{% endblock %}
