DB_ENGINE = 'django.db.backends.mysql'
DB_NAME = "planetterp"
DB_HOST = "127.0.0.1"
USER = 'root'
PASSWORD = ''
SECRET_KEY = 'django-insecure-zt7yxn++)bh)j#wzb)ofgd0^scu9rwr85%=3l%6g1zt(cx!t)_'

email_config = {

}
email = None
discord_webhook_help_url = None
discord_webhook_updates_url = None
