DB_ENGINE = 'django.db.backends.mysql'
DB_NAME = "planetterp"
DB_HOST = "127.0.0.1"
USER = 'root'
PASSWORD = ''
SECRET_KEY = 'django-insecure-zt7yxn++)bh)j#wzb)ofgd0^scu9rwr85%=3l%6g1zt(cx!t)_'
STATIC_ROOT = None
ADS_ENABLED = False

EMAIL_HOST_USER = None
EMAIL_HOST_PASSWORD = None # app password
EMAIL_SERVICE_ACCOUNT_CREDENTIALS = None

WEBHOOK_URL_HELP = None
WEBHOOK_URL_UPDATE = None
# Frequency is in units of notifications. The webhook won't send unless there are WEBHOOK_FREQUENCY new notificaitons
WEBHOOK_FREQUENCY = 20
